<h2>Migration Auto Runner</h2>
<div class="grid">
	<div class="col">
		<form #connForm="ngForm">
		<div class="group">
		  <div class="form-fields-group">
			    <div class="form1">
			    	<label for="name">Database</label>
				    <input type="text" class="form-control" id="databaseName" placeholder="localhost\sql12" [(ngModel)] = "dbConnection.server" ngControl="server"  #server="ngForm" required>
			    </div>
			    <div class="form2">
			    	<button type="submit" class="btn btn-default" (click)="useDefaultServer()">Use Default</button>
			    </div>
		  </div>
		  <div class="validation"[hidden]="server.valid|| server.pristine" class="alert alert-danger">
			    Server name is required.
			</div>
		</div>

		  <div class="group">
		  	<div class="form-fields-group">
			  	<div class="form1">
			  		<label for="UserName">Login user name</label>
			    	<input type="text" class="form-control" id="userName" placeholder="sa" [(ngModel)] = "dbConnection.userName" ngControl="userName" #userName="ngForm"required>		    	
			  	</div>
			  	<div class="form2">
			  		<button type="submit" class="btn btn-default" (click)="useDefaultUserName()">Use Default</button>
			  	</div>
		  	</div>
		  	<div class="validation" [hidden]="userName.valid|| userName.pristine" class="alert alert-danger validation">
			    User name is required.
			</div>
		  	
		    
		  </div>
			  
		  <div class="form-group">
		    <label for="Password">Password</label>
		    <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)] = "dbConnection.password" required>
		  </div>

		  <button type="submit" class="btn btn-default" (click)="onConnect()">Connect</button>

		  <div class="form-group">
		  	<label for="databases">Databases</label>
		  	<select class="form-control" [(ngModel)]="selectedDatabase">
		  		<option *ngFor="#d of dbConnection.databases" [value]="d">{{d}}</option>
		  	</select>
		  </div>

		 
	 	  <button type="submit" class="btn btn-default" (click)="isShowConnectionName = true">Save Connection Info</button>
	 	  <div class="form-inline" *ngIf ="isShowConnectionName">
	 	  	  <label>Enter connection info name: </label>
		 	  <input type="text" id="connectionProfileName" [(ngModel)] = "profileName" >
		 	  <button type="submit" class="btn btn-default" (click)="discardConnectionInfo()">Discard</button>
		 	  <button type="submit" class="btn btn-default" (click)="saveConnectionInfo()">Save</button>
	 	  </div>
		

		  <div class="form-group">
		  	<label>Select All sql files and the manifest file</label>
		  	<input type="file" multiple (change)="fileChangeEvent($event)">
		  	<!-- <button type="submit" class="btn btn-default" (click)="clearUploadFiles()">Clear</button> -->
		  	<ul style="list-style-type: none; margin-top:1em">
		  		<li *ngFor="#file of filesToShow" [class.selected]="file == selectedFile" (click)="onSelectFile(file)">
		  			<div class="row">
				  		<div class="col-sm-6">
				  			{{file.fileName}}
				  		</div>
				  		<div class="col-sm-2">
					  		<i *ngIf="file.status == 0" class="fa fa-check fa-lg" style="color: green"></i>
				  			<i *ngIf="file.status === 1"class="fa fa-exclamation-triangle fa-lg" style="color:red"></i>
				  			<i *ngIf="file.status === 2" class="fa fa-spinner fa-spin"></i>
			  			</div>
		  			</div>
		  		</li>
		  		
		  	</ul> 
		  	
		  	<div [class.hidden]="!isShowRunButton">
		  		<button type="submit" class="btn btn-primary" (click)="runAll()">Run All</button>
		  		
		  	</div>
		  	<div [class.hidden]="!isShowRunFromSelectedButton" style="margin-top:1em">
		  		<button type="submit" class="btn btn-default" (click)="upload()">Run From Selected</button>
		  	</div>
		  </div>
		</form>
	</div>
	<div class="col">
		<client-alert [message]="alerts"></client-alert>
	</div>	
</div>
